{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Recuperar Contraseña</title>
  <link rel="stylesheet" href="{% static 'universitaryWellbeing/css/login.css' %}">
</head>
<body>
  <div class="login-1">
    <img class="logo-icesi-blanco" src="{% static 'universitaryWellbeing/img/logo-icesi-blanco.png' %}" alt="Logo Icesi">
    <div class="hola-de-nuevo">Recuperar contraseña</div>

    <form method="POST">
      {% csrf_token %}
      <div class="field">
        <div class="value">
          <input type="email" name="email" placeholder="Correo electrónico" required>
        </div>
      </div>

      <div class="botn-agregar">
        <div class="botn-agregar-child"></div>
        <b class="b">Enviar enlace</b>
      </div>
      <a class="regresar" href="{% url 'login' %}">Regresar</a>
    </form>

    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</body>
</html>
