{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Nueva Contraseña</title>
  <link rel="stylesheet" href="{% static 'universitaryWellbeing/css/login.css' %}">
</head>
<body>
  <div class="login-1">
    <img class="logo-icesi-blanco" src="{% static 'universitaryWellbeing/img/logo-icesi-blanco.png' %}" alt="Logo Icesi">
    <div class="hola-de-nuevo">Ingresa tu nueva contraseña</div>

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="botn-agregar">
        <div class="botn-agregar-child"></div>
        <b class="b">Restablecer</b>
      </div>
    </form>
  </div>
</body>
</html>
