{% extends "home_base.html" %}
{% load static %}

{% block content %}
{{ block.super }}

<div class="container my-5">
  <div class="row g-4">
    <!-- Card 1 -->
    <div class="col-12 col-md-6">
      <div class="offer-card">
        <div class="image-container position-relative text-center">
          <img src="{% static 'universitaryWellbeing/img/offer/image1.png' %}" class="img-fluid w-100" alt="CADI">
          <h3 class="center-text position-absolute top-50 start-50 translate-middle text-white text-center px-2">
            Centro Artístico y Deportivo Icesi - CADI
          </h3>

          {% if request.user.is_superuser %}
            <a href="{% url 'management_cadi:listar_grupos_actividad' '-' 1 %}" 
             class="yellowBotton_Black position-absolute start-50 bottom-0 translate-middle-x mb-3">
              Gestionar actividades
            </a>
          {% else %}
            <a href="{% url 'management_cadi:listar_grupos_actividad' '-' 1 %}" 
             class="yellowBotton_Black position-absolute start-50 bottom-0 translate-middle-x mb-3">
              Ver actividades
            </a>
          {% endif %}
          
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-12 col-md-6">
      <div class="offer-card">
        <div class="image-container position-relative text-center">
          <img src="{% static 'universitaryWellbeing/img/offer/image2.png' %}" class="img-fluid w-100" alt="Desarrollo Humano">
          <h3 class="center-text position-absolute top-50 start-50 translate-middle text-white text-center px-2">
            Desarrollo Humano y Promoción de la Salud
          </h3>

          {% if request.user.is_superuser %}
            <a href="{% url 'management_cadi:listar_grupos_actividad' '-' 2 %}" 
             class="yellowBotton_Black position-absolute start-50 bottom-0 translate-middle-x mb-3">
              Gestionar actividades
            </a>
          {% else %}
            <a href="{% url 'management_cadi:listar_grupos_actividad' '-' 2 %}" 
             class="yellowBotton_Black position-absolute start-50 bottom-0 translate-middle-x mb-3">
              Ver actividades
            </a>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-12 col-md-6">
      <div class="offer-card">
        <div class="image-container position-relative text-center">
          <img src="{% static 'universitaryWellbeing/img/offer/image3.png' %}" class="img-fluid w-100" alt="PSU">
          <h3 class="center-text position-absolute top-50 start-50 translate-middle text-white text-center px-2">
            Proyecto Social de Bienestar Universitario (PSU)
          </h3>

          {% if request.user.is_superuser %}
            <a href="{% url 'management_cadi:listar_grupos_actividad' '-' 3 %}" 
             class="yellowBotton_Black position-absolute start-50 bottom-0 translate-middle-x mb-3">
              Gestionar actividades
            </a>
          {% else %}
            <a href="{% url 'management_cadi:listar_grupos_actividad' '-' 3 %}" 
             class="yellowBotton_Black position-absolute start-50 bottom-0 translate-middle-x mb-3">
              Ver actividades
            </a>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col-12 col-md-6">
      <div class="offer-card">
        <div class="image-container position-relative text-center">
          <img src="{% static 'universitaryWellbeing/img/offer/image4.png' %}" class="img-fluid w-100" alt="Programa Estás en Casa">
          <h3 class="center-text position-absolute top-50 start-50 translate-middle text-white text-center px-2">
            Programa Estás en Casa
          </h3>

          {% if request.user.is_superuser %}
            <a href="{% url 'management_cadi:listar_grupos_actividad' '-' 4 %}" 
             class="yellowBotton_Black position-absolute start-50 bottom-0 translate-middle-x mb-3">
              Gestionar actividades
            </a>
          {% else %}
            <a href="{% url 'management_cadi:listar_grupos_actividad' '-' 4 %}" 
             class="yellowBotton_Black position-absolute start-50 bottom-0 translate-middle-x mb-3">
              Ver actividades
            </a>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
