<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="home">
    		<div class="universidad-icesi-calle-container">
      			<p class="universidad-icesi-calle">Universidad Icesi, Calle 18 No. 122-135</p>
      			<p class="universidad-icesi-calle">Pance, Cali – Colombia</p>
      			<p class="universidad-icesi-calle">Teléfono: +57 (602) 555 2334</p>
      			<p class="universidad-icesi-calle">Celular: +57 300 910 8606</p>
      			<p class="universidad-icesi-calle">
        				<a class="modulo-1-rf3-14-ventanillaunicaicesieduco" href="mailto:ventanillaunica@icesi.edu.co" target="_blank">ventanillaunica@icesi.edu.co</a>
      			</p>
    		</div>
    		<div class="calendario">Calendario</div>
    		<div class="blanco">
      			<div class="modulo-1-rf3-14-blanco">
        				<img class="vector-icon" alt="">
        				
      			</div>
    		</div>
    		<div class="noticias">Noticias</div>
    		<img class="blanco-icon" alt="">
    		
    		<div class="actividades">Actividades</div>
    		<img class="modulo-1-rf3-14-blanco-icon" alt="">
    		
    		<img class="blanco-icon2" alt="">
    		
    		<div class="judo">Judo</div>
    		<div class="ajedrez">Ajedrez</div>
    		<div class="natacin">Natación</div>
    		<img class="blanco-icon3" alt="">
    		
    		<img class="blanco-icon4" alt="">
    		
    		<div class="arquero-de-ftbol">Arquero de fútbol</div>
    		<img class="blanco-icon5" alt="">
    		
    		<div class="modulo-1-rf3-14-child">
    		</div>
    		<img class="logo-azul" alt="">
    		
    		<img class="image-34-icon" alt="">
    		
    		<div class="hola-username-bienvenido">Hola, bienvenido a Bienestar Universitario</div>
    		<div class="modulo-1-rf3-14-item">
    		</div>
    		<b class="bienestar-universitario">Bienestar universitario</b>
    		<img class="menu-icon" alt="" id="menuImage">
    		
    		<div class="pp-wrapper">
      			<b class="pp">PP</b>
    		</div>
    		<img class="modulo-1-rf3-14-inner" alt="">
    		
    		<div class="calendar">
      			<div class="row">
        				<div class="header-cell">
          					<div class="div">Su</div>
        				</div>
        				<div class="header-cell">
          					<div class="div">Mo</div>
        				</div>
        				<div class="header-cell">
          					<div class="div">Tu</div>
        				</div>
        				<div class="header-cell">
          					<div class="div">We</div>
        				</div>
        				<div class="header-cell">
          					<div class="div">Th</div>
        				</div>
        				<div class="header-cell">
          					<div class="div">Tr</div>
        				</div>
        				<div class="header-cell">
          					<div class="div">Sa</div>
        				</div>
      			</div>
      			<div class="modulo-1-rf3-14-row">
        				<div class="cell">
          					<div class="inner">
            						<div class="div">1</div>
          					</div>
        				</div>
        				<div class="modulo-1-rf3-14-cell" id="cellContainer1">
          					<div class="inner">
            						<div class="div">2</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">3</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">4</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">5</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">6</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">7</div>
          					</div>
        				</div>
      			</div>
      			<div class="modulo-1-rf3-14-row">
        				<div class="cell">
          					<div class="inner">
            						<div class="div">8</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">9</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">10</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">11</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">12</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">13</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">14</div>
          					</div>
        				</div>
      			</div>
      			<div class="modulo-1-rf3-14-row">
        				<div class="cell">
          					<div class="inner">
            						<div class="div">15</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">16</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">17</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">18</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">19</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">20</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">21</div>
          					</div>
        				</div>
      			</div>
      			<div class="modulo-1-rf3-14-row">
        				<div class="cell">
          					<div class="inner">
            						<div class="div">22</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">23</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">24</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">25</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">26</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">27</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">28</div>
          					</div>
        				</div>
      			</div>
      			<div class="row5">
        				<div class="cell28">
          					<div class="inner">
            						<div class="div">29</div>
          					</div>
        				</div>
        				<div class="cell28">
          					<div class="inner">
            						<div class="div">30</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">1</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">2</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">3</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">4</div>
          					</div>
        				</div>
        				<div class="cell">
          					<div class="inner">
            						<div class="div">5</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<img class="modulo-1-rf3-14-modulo-1-rf3-14-child" alt="">
    		
    		<img class="modulo-1-rf3-14-child2" alt="">
    		
    		<img class="modulo-1-rf3-14-child3" alt="">
    		
    		<img class="modulo-1-rf3-14-child4" alt="">
    		
    		<img class="modulo-1-rf3-14-child5" alt="">
    		
    		<img class="modulo-1-rf3-14-child6" alt="">
    		
    		<img class="modulo-1-rf3-14-child7" alt="">
    		
    		<img class="modulo-1-rf3-14-child8" alt="">
    		
    		<img class="modulo-1-rf3-14-child9" alt="">
    		
    		<img class="modulo-1-rf3-14-child10" alt="">
    		
    		<img class="modulo-1-rf3-14-child11" alt="">
    		
    		<img class="modulo-1-rf3-14-child12" alt="">
    		
    		<img class="modulo-1-rf3-14-child13" alt="">
    		
    		<img class="modulo-1-rf3-14-child14" alt="">
    		
    		<img class="modulo-1-rf3-14-child15" alt="">
    		
    		<img class="modulo-1-rf3-14-child16" alt="">
    		
    		<img class="modulo-1-rf3-14-child17" alt="">
    		
    		<img class="modulo-1-rf3-14-child18" alt="">
    		
    		<img class="modulo-1-rf3-14-child19" alt="">
    		
    		<img class="modulo-1-rf3-14-child20" alt="">
    		
    		<img class="modulo-1-rf3-14-child21" alt="">
    		
    		<img class="modulo-1-rf3-14-child22" alt="">
    		
    		<img class="modulo-1-rf3-14-child23" alt="">
    		
    		<img class="modulo-1-rf3-14-child24" alt="">
    		
    		<img class="modulo-1-rf3-14-child25" alt="">
    		
    		<img class="image-32-icon" alt="">
  	</div>
  	
  	
  	
  	
  	<script>
    		var menuImage = document.getElementById("menuImage");
    		if(menuImage) {
      			menuImage.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var cellContainer1 = document.getElementById("cellContainer1");
    		if(cellContainer1) {
      			cellContainer1.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}</script></body>
</html>