{% extends "base.html" %}
{% load static %}

{% block title %}
 ¡Bienvenido Preferencias!
{% endblock %}

{% block extra_css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'universitaryWellbeing/css/list_preferences.css' %}">
{% endblock %}

{% block content %}
	<!-- Contenedor principal de la lista de preferencias -->
	<section class="list-preferences">

		<!-- Título y descripción -->
		<h1 class="selecciona-el-tipo">¡Selecciona el tipo de actividades que te gusten!</h1>
		<p class="esto-nos-ayudar">
			Esto nos ayudará a encontrar las actividades que te encantarán. Selecciona las de tu preferencia.
		</p>

		<!-- Formulario de selección de categorías -->
  		<form method="POST">
    		{% csrf_token %}
    		<div class="categories-grid">
				{% for category in categories %}
					<label class="category-item">
						<input type="checkbox" name="categories" value="{{ category }}"> {{ category }}
					</label>
				{% endfor %}
    		</div>

			<!-- Botón para enviar el formulario -->
			<button class="greenBotton_White">Continuar</button>
		</form>

		<!-- Línea de separación -->
		<div class="line-div"></div>

	</section>

	<!-- Script para interacción de botones -->
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const botnAgregarContainer = document.getElementById("botnAgregarContainer");
			if (botnAgregarContainer) {
				botnAgregarContainer.addEventListener("click", function () {
					// Lógica para continuar
				});
			}

			const menuImage = document.getElementById("menuImage");
			if (menuImage) {
				menuImage.addEventListener("click", function () {
					// Lógica para menú
				});
			}
		});
	</script>
    
{% endblock %}