{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h2>Análisis</h2>
    <ul>
        <li><a href="{% url 'analisis_comportamiento' %}">Análisis de comportamiento estudiantil</a></li>
        <li><a href="{% url 'comparaciones' %}">Comparaciones y estadísticas</a></li>
        <li><a href="{% url 'visualizacion' %}">Visualización y exportación</a></li>
        <li><a href="{% url 'recomendaciones' %}">Recomendaciones automáticas</a></li>
        <li><a href="{% url 'asistencia' %}">Gestión de asistencia y contingencia</a></li>
    </ul>
</div>
{% endblock %}