<!DOCTYPE html>

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet" />
        <link href="./css/main.css" rel="stylesheet" />
        
        <title>Document</title>
    </head>
    
    <body>
        
        <div class="v2890_2619">
            <span class="v2890_2626">Centro Artístico y Deportivo Icesi – CADI</span>
                
            <div class="v2890_2629"></div>
            
            <span class="v2890_2630">Deportes individuales</span>
            <span class="v2890_2632">Deportes de conjunto</span>
            <div class="v2890_2633">
            
            </div>
            
            <span class="v2890_2634">Artes musicales (Grupos)</span>
            
            <div class="v2890_2635"></div>
            
            <span class="v2890_2636">Talleres cortos</span>
            
            <div class="v2890_2637"></div>
            
            <span class="v2890_2638">Artes musicales (Clases)</span>
            <div class="v2890_2639"></div>
            
            <span class="v2890_2640">Artes escénicas</span>
            
            <div class="v2890_2641"></div><span class="v2890_2642">Artes plásticas</span>
            
            <div class="v2890_2643"></div>
            <span class="v2890_2644">Artes visuales</span>
            <div class="name"></div><div class="name">

            </div><div class="name"></div>
            <div class="v3041_13283"></div>
            <span class="v3041_13284">Bienestar universitario</span>
            <span class="v3041_13307">Regresar</span>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="v2890_2631"></div>
            <span class="v2890_2628">Universidad Icesi, Calle 18 No. 122-135 Pance, Cali – Colombia Teléfono: +57 (602) 555 2334 Celular: +57 300 910 8606 ventanillaunica@icesi.edu.co</span>
                
        <div class="name">
            
        </div></div>
    </body>
</html>