{% extends "base.html" %}
{% load static %}

{% block title %}
   Actividades CADI
{% endblock %}

{% block content %}
<center><h3>Centro Artístico y Deportivo Icesi - CADI</h3></center>

    <center>

        <!-- Table with four columns-->
        <div class="container mt-4">

            <div class="row text-center">

                <div class="col-md-3">
                <h6>Deportes individuales</h6>
                <img src="{% static 'management_CADI/images/chess.png' %}" alt="Deportes individuales" class="img-fluid rounded" style="max-width:250px;">
                </div>

                <div class="col-md-3">
                <h6>Deportes de conjunto</h6>
                <img src="{% static 'management_CADI/images/basketball.png' %}" alt="Deportes de conjunto" class="img-fluid rounded" style="max-width:250px;">
                </div>

                <div class="col-md-3">
                <h6>Artes musicales (Grupos)</h6>
                <img src="{% static 'management_CADI/images/groupChoir.png' %}" alt="Deportes de conjunto" class="img-fluid rounded" style="max-width:250px;">
                </div>

                <div class="col-md-3">
                <h6>Talleres cortos</h6>
                <img src="{% static 'management_CADI/images/kung-fu.png' %}" alt="Deportes de conjunto" class="img-fluid rounded" style="max-width:250px;">
                </div>

            </div>

            <div class="row text-center mt-4">
                <div class="col-md-3">
                <h6>Artes musicales (Clases)</h6>
                <img src="{% static 'management_CADI/images/electricGuitar.png' %}" alt="Deportes de conjunto" class="img-fluid rounded" style="max-width:250px;">
                </div>
                <div class="col-md-3">
                <h6>Artes escénicas</h6>
                <img src="{% static 'management_CADI/images/performingArt.png' %}" alt="Deportes de conjunto" class="img-fluid rounded" style="max-width:250px;">
                </div>
                <div class="col-md-3">
                <h6>Artes plásticas</h6>
                <img src="{% static 'management_CADI/images/art.png' %}" alt="Artes plásticas" class="img-fluid rounded" style="max-width:250px;">
                </div>
                <div class="col-md-3">
                <h6>Artes visuales</h6>
                <img src="{% static 'management_CADI/images/visualArts.png' %}" alt="Deportes de conjunto" class="img-fluid rounded" style="max-width:250px;">
                </div>
            </div>
        </div>
    </center>

    <center class="mt-4">
        <p>
            Universidad Icesi, Calle 18 No. 122-135 <br>
            Pance, Cali - Colombia <br>
            Teléfono: +57 (602) 555 2334 <br>
            Celular: +57 300 910 8606 <br>
            ventanillaunica@icesi.edu.co
        </p>
    </center>
{% endblock %}
