{% extends "base.html" %}
{% load static %}

{% block title %}Actividades - {{ grupo.nombre }}{% endblock %}

{% block subheaderBar %}
<a href="javascript:history.back()" class="back-link">
  <i class="bi bi-arrow-left"></i> Regresar
</a>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">{{ grupo.nombre }}</h2>
    <p class="text-center">{{ descripcion }}</p>

    {% if grupos_actividad %}
    <table class="table table-bordered mt-4">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for g in grupos_actividad %}
            <tr>
                <td>{{ g.nombre }}</td>
                <td>{{ g.descripcion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center mt-4">No hay grupos de actividades aún.</p>
    {% endif %}

    <br>
    <br>
    <center>
        <a href="{% url 'management_cadi:crear_grupo_actividad' '-' grupo.id_grupo %}" class="yellowBotton_Black">
            Agregar grupo
        </a>
    </center>

</div>
{% endblock %}