{% load static %}
<header>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg custom-navbar fixed-top">
    <div class="container-fluid">
      {% block header_logo %}
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'universitaryWellbeing/img/logo_icesi.png' %}" alt="Logo Icesi">
        Bienestar Universitario
      </a>
      {% endblock %}

      <!-- ADDED: wrapper que contiene nav-collapse + campana -->
      <div class="d-flex align-items-center ms-auto">
        <div class="collapse navbar-collapse" id="navbarNav"></div>

        <!-- notificaciones -->
        {% block header_notifications %}
        <div class="navbar-option ms-3">
          <a href="#" title="Notificaciones">
            <img src="{% static 'universitaryWellbeing/img/notification.png' %}" alt="Notificaciones" />
          </a>
        </div>
        {% endblock %}

        <!-- avatar -->
        {% block header_avatar %}
        <div class="navbar-option ms-3">
          {% if user.is_authenticated %}
          <a href="{% url 'profile' %}" title="Perfil">
            {% include 'includes/user_avatar.html' %}
          </a>
          {% else %}
          <a href="{% url 'login' %}" class="btn btn-link text-light">Iniciar</a>
          {% endif %}
        </div>
        {% endblock %}

        <!-- boton menú lateral -->
        {% block header_sidebar_btn %}
        <div class="navbar-option ms-3">
          <a href="#" id="menu-btn" title="Menú">
            <img src="{% static 'universitaryWellbeing/img/Menu.png' %}" alt="Menú" />
          </a>
        </div>
        {% endblock %}
      </div>
      <!-- /ADDED -->
    </div>
  </nav>
</header>